html[data-theme="tGray"] {
 /* Gray 80-900*/
  --color-pCol0: #f9fafb;
  --color-pCol1: #f3f4f6;
  --color-pCol2: #e5e7eb;
  --color-pCol3: #d1d5db;
  --color-pCol4: #9ca3af;
  --color-pCol5: #6b7280;
  --color-pCol6: #4b5563;
  --color-pCol7: #374151;
  --color-pCol8: #1f2937;
  --color-pCol9: #111827;
}
