html[data-theme="tNeutral"] {
  /* Neutral 80-900*/
  --color-pCol0: #fafafa;
  --color-pCol1: #f5f5f5;
  --color-pCol2: #e5e5e5;
  --color-pCol3: #d4d4d4;
  --color-pCol4: #a3a3a3;
  --color-pCol5: #737373;
  --color-pCol6: #525252;
  --color-pCol7: #404040;
  --color-pCol8: #262626;
  --color-pCol9: #171717;
}
